<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomodora Tracker</title>
</head>
<body>
<form action='http://localhost:8000/pomodora' method='post'>
    <fieldset>
        <legend>Submit Pomodora:</legend>
        Task:<br>
        <textarea rows="4" cols="50" type='text' name='task' value='Arin'></textarea><br>
        Review:<br>
        <textarea rows="4" cols="50" type='text' name='review' value='Blue'></textarea><br><br>
        <input type='submit' value='Submit'>
    </fieldset>
</form>
</body>
</html>