Mako==1.1.4
MarkupSafe==1.1.1
PyYAML==5.4.1
SQLAlchemy==1.4.3
falcon==3.0.0
greenlet==1.0.0
marshmallow==3.11.0
pip==21.0.1
python-mimeparse==1.6.0
pytz==2021.1
ruamel.appconfig==0.5.5
ruamel.std.argparse==0.8.3
setuptools==54.2.0
six==1.15.0