#pom-table {
    border: 1px solid black;
}

td, th {
    padding: 10px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.center-text {
    text-align: center;
    padding-top: 20px;
}

.keep-format {
    white-space: pre-line;
    padding-top: 2px;
}

td {
    vertical-align: top;
    padding-bottom: 20px;
}

body {
    padding-top: 20px;
    padding-bottom: 10px;
}

div.container {
    margin-left: 0;
}

.footer {
    margin-top: 20px;
    text-align: right;
}