QMainWindow {
    background-color: white;
}

QLabel {
    min-width: 110px;
}

QLineEdit {
    min-width: 200px;
    border: 1px solid #CCC;
    height: 30px;
    padding-left: 10px;
}

QPushButton {
    background: #3498db;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
}

/*QTableWidget {*/
    /*vertical-align: top;*/
    /*color:red;*/
/*}*/

QPushButton:hover {
    background: #3cb0fd;
}

#review_field QLabel,
#current_task_field QLabel,
#flags_fields QLabel {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

#flags_fields QLabel{
    margin-top: 15px;
}

#time_blocks_fields QLabel {
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
}

/*Use the # and the name of the variable to access to a specific Control*/
#current_task_field QPlainTextEdit {
    /*color:red;*/
}